
@model	Bolum

<form method="post" asp-action="DeletePOST">
	<input asp-for="Id" hidden/>
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary"> Bolum Silme </h2>
				<hr />
		</div>
		<div class="mb-3">
			<label asp-for="BolumAdi"></label>
			<input asp-for="BolumAdi" disabled class="form-control" />
		
		</div>
		<div class="mb-3">
			<label asp-for="HastaSayisi"></label>
			<input asp-for="HastaSayisi" disabled class="form-control" />
		
		</div>
		<div class="mb-3">
			<label asp-for="BosYatakSayisi"></label>
			<input asp-for="BosYatakSayisi" disabled class="form-control" />
		
		</div>
		<div class="mb-3">
			<label asp-for="Aciklamalar"></label>
			<input asp-for="Aciklamalar" disabled class="form-control" />
			
		</div>
		
			
		<button type="submit" class="btn btn-danger" style="width:180px">Sil</button>
		<a asp-controller="Bolum" asp-action="Index" style="width:150px">Listeye  Dön </a>
		

	</div>

</form>
