@model AcilDurumHaberi

<form method="post" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary"> AcilDurumHaberi Düzenle </h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Baslik"></label>
			<input asp-for="Baslik" class="form-control" />
			<span asp-validation-for="Baslik" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Aciklama"></label>
			<input asp-for="Aciklama" class="form-control" />
			<span asp-validation-for="Aciklama" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Tarih"></label>
			<input asp-for="Tarih" class="form-control" />
			<span asp-validation-for="Tarih" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="EkipEpostalari"></label>
			<input asp-for="EkipEpostalari" class="form-control" />
			<span asp-validation-for="EkipEpostalari" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary" style="width:180px">Düzenle</button>
		<a asp-controller="AcilDurumHaberi" asp-action="Index" style="width:150px">Listeye  Dön </a>


	</div>

</form>
