@model Girisviewmodel
@{
    ViewData["Title"] = "Login";
}

@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container">
    <h2>Login</h2>
    <form asp-action="Giris" method="post">
        <div class="mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" type="text" class="form-control" required />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Giriş</button>
    </form>

    <hr />


</div>