@model Nobet

<form method="post" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary"> Nobet Düzenle </h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Tarih"></label>
			<input asp-for="Tarih" class="form-control" />
			<span asp-validation-for="Tarih" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Saat"></label>
			<input asp-for="Saat" class="form-control" />
			<span asp-validation-for="Saat" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="AsistanId"></label>
			<input asp-for="AsistanId" class="form-control" />
			<span asp-validation-for="AsistanId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="BolumId"></label>
			<input asp-for="BolumId" class="form-control" />
			<span asp-validation-for="BolumId" class="text-danger"></span>
		</div>
		@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
		<button type="submit" class="btn btn-primary" style="width:180px">Düzenle</button>
}
		<a asp-controller="Nobet" asp-action="Index" style="width:150px">Listeye  Dön </a>


	</div>

</form>
